<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head th:include="header :: head">
    </head>
<body>
<div th:include="navbar :: navbar"></div>
<div class="jumbotron">
    <div class="container">
        <h3>File Upload</h3>
        <form method="POST" enctype="multipart/form-data" action="upload">
            File to upload: <input type="file" name="uploaded_file" accept="image/*"></input>
            <input type="radio" name="theme" value="Hungary"> Hungary<br></br></input>
            <input type="radio" name="theme" value="history"> History<br></br></input>
            <input type="radio" name="theme" value="traffic"> Traffic<br></br></input>
            <input type="radio" name="theme" value="nature"> Nature<br></br></input>
            hungarian: <input type="text" name="hun"><br></br></input>
            english: <input type="text" name="eng"><br></br></input>
            Name your file: <input type="text" name="fname"><br></br></input>
            <input type="submit" value="Press"></input> to upload the file!
        </form>
    </div>
</div>

</body>
</html>