th, td {
    border: 1px solid;
    border-color: #968dad #968dad;
    text-align: center;
}
table {
    width: 100%;
}

th {
    border-style: dashed !important;
}

.del-button{
    width: 100%;
}

#wordcards{
    margin-bottom: 5px;
}

#exam-jumbo{
    text-align: center;
}

#themes-group{
    margin: 30px;
}
