<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WordCards</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div th:switch="${admin}" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="/student">Student</a></li>
                    <li><a href="/teacher">Teacher</a></li>
                </ul>
                <form id="form1" th:case="'true'" action="/logout">
                    <button form="form1" id="logout-button" type="submit"
                            class="btn btn-default navbar-btn navbar-right">Logout
                    </button>
                    <h5 class="navbar-right">Admin in session</h5></form>

                <div th:case="*">
                    <form action="/auth_key" method="post">
                        <input id="sign-in-input" type="text" class="navbar-right" placeholder="app key" maxlength="20"
                               autocomplete="off" name="key"/>
                        <button id="sign-in-button" type="submit" class="btn btn-default navbar-btn navbar-right">Sign
                            in
                        </button>
                    </form>
                </div>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</div>
</body>
</html>