<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head th:include="header :: head">
</head>
<body>
<div th:include="navbar :: navbar"></div>

<div class="jumbotron">
    <div id="get-card-button-container" class="container">
    </div>
    <div id="themes-group" class="btn-group">
        <h3>Exercise:</h3>
        <button id="nature" type="button" class="exercise-button btn btn-default">Nature</button>
        <button id="food" type="button" class="exercise-button btn btn-default">Food</button>
        <button id="traffic" type="button" class="exercise-button btn btn-default">Traffic</button>
    </div>
    <div>
        <button id="exam-button" type="button" class="btn btn-primary btn-lg">Exam</button>
    </div>
</div>
<div id="card-image-container" class="container" style="display: none">
    <img id="card-image" src="#" border="5"  alt="Red dot"/>
    <form method="POST" enctype="multipart/form-data" action="upload">
        <div>
            <h3>magyar/english</h3>
            <input class="word-input" type="text" name="hun"></input>
            <h3>english/angol:</h3>
            <input class="word-input" type="text" name="eng"></input>
        </div>
    </form>
    <div>
        <button style="display: none" id="get-card" class="btn btn-primary btn-lg">Next</button>
    </div>
</div>

</body>
</html>